<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cash Register</title>
</head>

<body>

    <h1>Pizza Checkboxes</h1>

    <form action="/register_order" method="post"></form>
    <input type="checkbox" id="Margherita" class="pizza" value="Margherita"></input>
    <label for="Margherita">Pizza Margherita</label><br>
    <input type="checkbox" id="Pepperoni" class="pizza" value="Pepperoni"></input>
    <label for="Pepperoni">Pizza Pepperoni</label><br>
    <input type="checkbox" id="Four_Cheese" class="pizza" value="Four Cheese"></input>
    <label for="Four_Cheese">Pizza Four Cheese</label><br>
    <input type="checkbox" id="BBQ_Chicken" class="pizza" value="BBQ Chicken"></input>
    <label for="Margherita">Pizza Margherita</label><br>
    <input type="checkbox" id="Vegetarian" class="pizza" value="Vegetarian"></input>
    <label for="Margherita">Pizza Margherita</label><br>
    <input type="checkbox" id="Meat_Lovers" class="pizza" value="Meat Lover’s"></input>
    <label for="Margherita">Pizza Margherita</label><br>
    

</body>
</html>