<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Order</title>
</head>

<body>

    <form action="/register_order" method="post">
        <table>
            <tr>
                <th>Pizza Types</th>
                <th>Checkboxes</th>
                <th>Quantity</th>
            </tr>
        
            <tr>
                <td><label for="Margherita">Margherita</label></td>
                <td><input type="checkbox" id="Margherita" name="pizza" value="Margherita"></td>
                <td><input type="number" id="quantity_Margherita" name="quantity_Margherita" min="1" max="10"></td>
            </tr>
            
            <tr>
                <td><label for="Four_Cheese">Four Cheese</label></td>
                <td><input type="checkbox" id="Four_Cheese" name="pizza" value="Four_Cheese"></td>
                <td><input type="number" id="quantity_Four_Cheese" name="quantity_Four_Cheese" min="1" max="10"></td>
            </tr>
            
            <tr>
                <td><label for="Pepperoni">Pepperoni</label></td>
                <td><input type="checkbox" id="Pepperoni" name="pizza" value="Pepperoni"></td>
                <td><input type="number" id="quantity_Pepperoni" name="quantity_Pepperoni" min="1" max="10"></td>
            </tr>
           
        </table>

        <input type="submit" value="Submit">   
    </form>

    <button><a href="http://127.0.0.1:5000/current_orders">current orders</a></button>
    <div class="pizza_types">
        
    <!-- <h1>Pizza Checkboxes</h1>

    <form action="/register_order" method="post"></form>
    <input type="checkbox" id="Margherita" class="pizza" value="Margherita"></input>
    <label for="Margherita">Pizza Margherita</label><br>
    <input type="checkbox" id="Pepperoni" class="pizza" value="Pepperoni"></input>
    <label for="Pepperoni">Pizza Pepperoni</label><br>
    <input type="checkbox" id="Four_Cheese" class="pizza" value="Four Cheese"></input>
    <label for="Four_Cheese">Pizza Four Cheese</label><br>
    <input type="checkbox" id="BBQ_Chicken" class="pizza" value="BBQ Chicken"></input>
    <label for="Margherita">Pizza Margherita</label><br>
    <input type="checkbox" id="Vegetarian" class="pizza" value="Vegetarian"></input>
    <label for="Margherita">Pizza Margherita</label><br>
    <input type="checkbox" id="Meat_Lovers" class="pizza" value="Meat Lover’s"></input>
    <label for="Margherita">Pizza Margherita</label><br>
     -->
    </div>
</body>
</html>